body,h2{
    font-family: 'Permanent Marker',cursive;
  }

.image1{
  background-color: rgb(65, 113, 196);
  margin-right: 20px;
}
.image1:hover{
  background-color: rgb(60, 97, 160) ;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.red_dark:hover{
  background-color: rgb(169, 7, 7);
}